* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.picture {
  height: 100%;
  position: relative;
  width: 100%;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
#picture__main {
  background: url(./img/4.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #ccc;
  background-size: cover;
  object-fit: cover;
  /* overflow: hidden; */
}

.picture__disable {
  opacity: 0.00000001;
  position: relative;
  z-index: -1;
  width: 100%;
  /* object-fit: cover; */
}

.target__picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.picture__link {
  float: left;
  position: relative;
}

.title__high {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#picture__main__white {
  background: url(./img/White/4.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #ccc;
  background-size: cover;
  object-fit: cover;
}

#picture__main__whiteneck {
  background: url(./img/Whiteneck/4.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #ccc;
  background-size: cover;
  object-fit: cover;
}
